*{
    background-color: whitesmoke;
}

nav ul li
{
    display: inline-block;

}

nav ul li :first-child
{
    float: left;
}

#second-div
{
    float : right;
}
#headering
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav ul li p
{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

#second-para
{
    font-size: 10px;
    color: darkgray;
}
#print
{
    float: right;
    font-size: 10px;
    color: darkgray;
}
#chocolate
{
    margin-top: 30px;
    padding-left: 25%;
    padding-right: 25% ;

}
#text
{
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 30px;

}
#container
{
    position: relative;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}
#first-div
{
    display: inline;
    margin-top: 10%;
    margin: auto;
}
#second-div
{
    display: inline;
    margin-top: -20%;
    margin-right: 30%;
}
#venessa{
    float: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#venim{
    float: left;

}
#share{
    float: right;
    padding-right: 27%;
    color: antiquewhite;

}
#bt{
    background-color: brown;
    width: 4cm;
    height: 1.2cm;
    color: bisque;

}
footer{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2.5%;
}