body {
    margin: 2% 10%;
}

nav {
    margin-bottom: 50px;
}

nav * {
    display: inline-block;
}

nav #logo p {
    display: block;
}

#logo * {
    margin: 0;
}

#icons {
    float: right;
    margin-top: 33px;
}

#logo h1 {
    font-family: 'Pacifico', cursive;
}

.img-hr {
    background-image: url(/assets/hr-img.png);
    background-repeat: repeat;
    height: 20px;
    border: 0;
    margin: 0;
}

#rss {
    margin-left: 10px;
}

h2 {
    font-size: 42px;
    margin: 50px 0 0 5px;
    float: left;
}

#header-div p {
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
}

#print {
    float: right;
}

#print p {
    margin: 0;
}

#big-picture {
    clear: both;
}

#print * {
    display: inline-block;
}

#big-picture img {
    width: 100%;
}

#list {
    background-size: cover;
    width: 100%;
    height: 270px;
    background-image: url(/assets/list-bg.png);
    margin: 50px 0;
    background-repeat: no-repeat;
}

#list * {
    display: inline-block;
    font-family: cursive;
    color: #c29a66;
    font-size: 900;
    font-weight: 900;
}

#ing-2 {
    padding-left: 550px;
    line-height: 2.5;
    padding-top: 20px;
}

#ing-1 {
    line-height: 2.5;
    padding-top: 20px;
    padding-left: 70px;
}

#profile {
    box-sizing: border-box;
}

#profile img {
    float: left;
}


#footer-head {
    clear: both;
}

#footer-head img {
    margin-right: 50%;
    margin-left: 50%;

}

.logo {
    margin-right: 50%;
    margin-left: 50%;
}

#footer-head {
    margin-top: 50px;
}

a:hover {
    opacity: 0.8;
}

#profile a {
    float: right;
    color: ivory;
    text-align: center;
    background-color: #bc7058;
    padding: 15px;
    width: 150px;
    text-decoration: none;
}

#profile h3,
p {
    margin-left: 80px;
}

footer p {
    width: 100%;
    text-align: center;
    margin: 0;
}

h2,
h3 {
    font-family: 'Bebas Neue', cursive;
    margin: 10px;

}

p {
    color: rgb(122, 121, 121);
    margin: 0;

}

#big-picture p {
    font-family: Georgia,
        'Times New Roman',
        Times,
        serif;
    font-weight: 600;
    color: rgb(145, 139, 139);
}